[Unit]
Description=Rebuild /opt/remote/pbs_backups from /opt/local/pbs_backups and sync to ShadowDrive
After=network-online.target
Wants=network-online.target
ConditionPathIsDirectory=/opt/local/pbs_backups

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/pbs_backup.sh
Restart=no

[Install]
WantedBy=multi-user.target
