[Unit]
Description=Timer to run rclone-sync.service every 5th day of the month at 00:00 UTC
Requires=network-online.target
After=network-online.target

[Timer]
OnCalendar=*-*-05 00:00:00 UTC
Persistent=true

[Install]
WantedBy=timers.target
