[Unit]
Description=Synchronizes /mnt/shadowDrive/pbs_backups to shadowDrive:/pbs_backups
After=network-online.target

[Service]
ExecStart=/usr/bin/rclone sync /mnt/shadowDrive/pbs_backups shadowDrive:/pbs_backups --progress --transfers=4 --checkers=8 --bwlimit=10M
Restart=always

[Install]
WantedBy=multi-user.target
